footer  
  div(class="content-wrapper")
    p Website coded by Sarah Tong &#169; 2018
    div(class="footer-links")
      a(class="in-text-link" href="http://www.sfu.ca/~satong/P03:%20Portfolio/P03-Portfolio-Style-Guide/index.html") Citations
      a(class="in-text-link" href="https://github.com/sarah-tong/P03-Portfolio") Github
      a(class="in-text-link" href="http://www.sfu.ca/~satong/P03:%20Portfolio/P03-Portfolio-Style-Guide/index.html") Style Guide
