doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")

    title Sarah Tong – UX Designer – Portfolio

    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/smoothDivScroll.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i")


  body
    div(class="grid-wrapper")
      div(class="nav-wrapper")
        include top-of-nav.pug

        nav(class="main-nav")
          ul
            li 
              a(class="button-nav active" href="index.html") Projects
            li
              a(class="button-nav" href="about.html") About
            li
              a(class="button-nav" target="_blank" href="http://www.sarahtong.me/Portfolio%20Links/Resume-BandW-SarahTong.pdf") Resume

        p(class="short-bio")
          | Hello there, I'm Sarah.
          span 
          | A Vancouver-based user experience designer who tackles challenges with business and design thinking.

      div(id="makeMeScrollable")
        div(class="grid-wrapper")

          div(class="project-panel-wrapper" id="VIA-panel")
            a(href="VIA.html")
              img(src="img/VIA/VIA-train.jpg" alt="VIA train project image")
              div(class="blue-img-filter") 
              span(class="overlay")
            div(class="project-detail")
              p(class="project-number") 01
              span(class="line")
              p(class="project-name") VIA Rail

          div(class="project-panel-wrapper" id="intl-coop-panel")
            a(href="Intl-Coop.html")
              img(src="img/Intl-Coop/Intl-Coop-project-banner.jpeg" alt="International Co-op project image - person looking deeply out on top of a mountain")
              div(class="blue-img-filter")
              span(class="overlay")
            div(class="project-detail")
              p(class="project-number") 02
              span(class="line")
              p(class="project-name") International Co-op

          div(class="project-panel-wrapper" id="toyota-panel")
            img(src="img/Toyota/Toyota.jpg" alt="Toyota automated project image")
            div(class="blue-img-filter")
            span(class="overlay")
            div(class="project-detail")
              p(class="project-number") 03
              span(class="line")
              p(class="project-name") Coming Soon

          div(class="project-panel-wrapper" id="SMA-panel")
            div(class="background-colored-panel")
            img(src="img/SMA/SMA_Logo.png" alt="SMA logo")
            div(class="blue-img-filter")
            span(class="overlay")
            div(class="project-detail")
              p(class="project-number") 04
              span(class="line")
              p(class="project-name") Coming Soon

    script(src="js/hamburger.js")

    //- Smooth Div Scroll Plugin: http://www.smoothdivscroll.com/
    script(src="js/jquery.min.js")
    script(src="js/jquery-ui-1.10.3.custom.min.js")
    script(src="js/jquery.mousewheel.min.js")
    script(src="js/jquery.kinetic.js") // minified version 2.2.4 doesn't work
    script(src="js/jquery.smoothdivscroll-1.3-min.js")
    script(src="js/smooth-div-scroll-initialize.js")
