nav(class="main-nav")
  ul
    li 
      a(class="button-nav" href="index.html") Projects
    li
      a(class="button-nav" href="about.html") About
    li
      a(class="button-nav" href="http://www.sarahtong.me/Portfolio%20Links/Resume-BandW-SarahTong.pdf") Resume
