doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")

    title Sarah Tong – UX Designer – Portfolio

    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/smoothDivScroll.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i")


  body
    div(class="grid-wrapper")
      div(class="nav-wrapper")
        button(class="mobile-nav")
          span
          span
          span

        include nav.pug

      div(class="project-wrapper")
          
          section(class="introduction")
            div(class="project-content-wrapper")
              h1 VIA Rail
              p(class="brief-description") Website Redesign
              div(class="video-wrapper")
                iframe(src="https://player.vimeo.com/video/242132143?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="")
          
          section(class="overview") 
            div(class="project-content-wrapper flex-project-content-wrapper")
              div(class="left-side")
                h2 Overview
                p Toyota Guardian is an application that looks out for drivers throughout their ownership experience. Our goal with Toyota Guardian was to create a transparent and trusting relationship between driver and Toyota’s technology today to ease people to trust self-driving cars in the future, as well as to build a more receptive market for Toyota and their future products. 
                p Our team was given the opportunity to be mentored by Chelsea Garber, the Product Design Lead from Inamoto &amp; Co. for this project. Out of the total 8 teams, two teams whose projects that were selected by Chelsea, our VIA Journey project being one of them, worked with Chelsea on one of their client briefs. We selected Toyota and was tasked with considering, “How might we ease people into trusting self-driving cars?”
                p My role in this project was mainly focused on market research and analysis, user research, ideation on the project’s form and features, as well as content strategy and writing for our project proposal, prototype copy, presentation slides, presentation script, and video. I also held smaller roles in graphic design for our presentation slides in an early week of research and ideation.
              div(class="right-side")
                h4 Team
                p Joshua Fan, Michelle Ng, Gabriel Yeung, Grant Zou
                h4 Type
                p Academic
                h4 Role
                p Market and user research, Ideation, Content writing and strategy
                h4 Tools
                p Illustrator, Photoshop, After Effects, Premiere Pro, Keynote
                h4 Duration
                p 5 weeks
                h4 Deliverables
                a(class="in-text-link" href="http://www.sarahtong.me/Portfolio%20Links/Toyota%20-%20Final.pdf") Slides
                
          section(class="client")
            div(class="project-content-wrapper")
              h2 The Client
              
              div(class="subsection")
                h3 About
                p VIA Rail is the only Canadian passenger rail service that provides both short-haul transportation and long-haul, transcontinental vacation packages, helping as many as 3.97 million passengers travel in 2016 alone.
                
              div(class="subsection")
                h3 Business Problem
                div(class="img-wrapper")
                  img(id="VIA-business-problem-img" src="img/VIA/business-problem.png")
                p With the recent surge in demand for Canadian tourism travel, air and rail services are performing well. However, VIA Rail is struggling to fill half of their seats, notably attaining an average passenger load factor of only 54% in 2016 (Annual Report 2016). As well, despite providing Canada’s only coast-to-coast rail service, tourists are still choosing to spend their money on other means of tourism travel as VIA Rail is seeing a trend of stagnating ridership numbers since 2014. Our challenge is to increase the number of riders on VIA Rail as well as influence potential customers to consider VIA RAIL as a desirable travel alternative.
              
          section(class="process")
            div(class="project-content-wrapper")
              h2 Process
                
              div(class="subsection")
                h3 The Brand
                div(class="img-wrapper")
                  img(src="img/VIA/brand-analysis.jpg")
                p Using the Brand Value Pillars Framework from Patrick Newbery and Kevin Farnham’s Experience Design book, we identified VIA Rail’s brand concept and the value pillar that not only best supports the brand concept, but we, as designers, can help reinforce. Among the brand pillars, we believed Trust and Innovation were outside our control. Therefore, we performed a deep dive into Personal, which is defined by VIA Rail as Personalized and Connected. Working with Connected, I helped pinpoint the products and services that are tied to it and determine the tangible, intangible, and aspirational values delivered. From this analysis and other research, we learned that, compared to other means of tourism travel, VIA Rail offers a unique experience to discover Canada for a justifiable cost, reinforcing that VIA Rail is a new and smarter way to travel across Canada. So, if a unique value proposition exists, why are potential passengers not connecting with VIA Rail’s service?
                
              div(class="subsection")
                h3 Market Positioning
                div(class="img-wrapper")
                  img(src="img/VIA/market-position.jpg")
                p The Market Matrix gave us a better understanding of the business problem. I assessed VIA Rail’s market positioning based on two attributes: distance covered and living space provided. Living space includes having the freedom to move, comfortable accommodations, meal service, and a range of on-board activities. While VIA Rail positions themselves as providers of long-haul and good living space, common consumer perception places VIA Rail against short-haul, decreased living space services such as airlines. But, relative to airplanes and not revealed in this Market Matrix, VIA Rail costs more and takes more time to get anywhere. With this perception misalignment, VIA Rail is challenged to overcome it.

              div(class="subsection")
                h3 The Opportunity
                p Upon further research, we later discovered that, in 2016, VIA Rail developed a Destination 2025 strategy with four new strategic brand pillars: Personalization, Connectivity, Collaboration, and Sustainability. Moving forward in our process with a more future-thinking approach as well as insights from our still-relevant brand and market positioning analysis, we saw an opportunity to pursue their brand pillar of Connectivity to drive our project and increase the perceived value relative to other forms of tourism transportation. With Connectivity, we wanted to highlight VIA Rail’s best assets that gives them the ability to offer a journey that is as valuable as the destination itself. In other words, we aim to better connect potential customers with unique narratives across Canada.
              
              div(class="subsection")
                h3 Customer Segment
                div(class="img-wrapper")
                  img(id="VIA-customer-segment-img" src="img/VIA/customer-segment.png")
                p Looking from a customer’s perspective, our team first identified three customer segments. We chose to focus our efforts toward first-time customers as they are likely to hold preconceived notions about long-haul rail travel and therefore are less likely to see the value proposition that VIA Rail offers.
              
              div(class="subsection")
                h3 Persona
                div(class="img-wrapper")
                  img(src="img/VIA/persona.png")
                p Based on anecdotal reviews of VIA Rail, I created a persona to help guide the team in understanding the kind of traveler we are designing for, as well as where in the customer journey framework VIA Rail is finding it most challenging in shifting perception of rail travel.  

              div(class="subsection")
                h3 The Customer Journey
                div(class="img-wrapper")
                  img(src="img/VIA/customer-journey.png")
                p We developed a customer journey framework which was borrowed from Engine Digital’s model. From identifying the stages in the journey framework and the frictions within, we learned the gap between the VIA Rail’s intended value proposition and the customer’s perceived value proposition is greatest within the entice stage.
            
              div(class="subsection")
                h3 The Customer Map
                div(class="img-wrapper")
                  img(src="img/VIA/customer-map.png")
                p Choosing to intervene at the entice stage, we broke this stage down further and realize a close association with Maslow’s Hierarchy of Needs. We understood that when basic needs are met, people are motivated to achieve higher level goals. Our strategy was to therefore organize the value proposition in our digital solution so to present tangible, intangible, and aspirational values in this order as they progress through the entice phase. Upon exploring VIA Rail’s website, we saw a key opportunity in enticing customers.
  
              div(class="subsection")
                h3 Frictions
                div(class="img-wrapper")
                  img(src="img/VIA/frictions.png")
                p Consumers aren’t realizing VIA Rail’s value proposition due to the current website’s presentation of information: it is difficult to find, digest, and navigate. 
                p We found that the value proposition is better communicated on downloadable PDFs. However, these PDFs contain dense, but useful information that the website does not. Should website visitors not open these PDFs, they would never see the complete value proposition that VIA Rail offers. Should they open these PDFs, the information presented is very dense, diverting people away from accessing this information. Furthermore, it is difficult to distinguish between their long and short-haul services, making it difficult to navigate and see VIA Rail’s differentiator as a provider of long-haul tourism. These friction points create cognitive overhead for consumers, causing VIA Rail to be quickly judged as a pricier and slower provider of transportation.
  
              div(class="subsection")
                h3 Proposal
                div(class="img-wrapper")
                  img(src="img/VIA/proposal.png")
                p To close the gap between the intended and perceived value proposition, our digital solution, VIA Journey, seeks to highlight the tangible, intangible, and aspirational values being promised and connect potential passengers with a journey that is as valuable as the destination, such that VIA Rail will be considered a desirable option for tourism.
  
  script(src="js/hamburger.js")
  script(src="js/active-nav-button.js")
